<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Password Reset Request</title>
  </head>
  <body>
    <p>Hi {{username}},</p>
    <p>We help you reset your password.</p>
    <p>Please click the following link to reset your password:</p>
    <p>
      <a href="{{host}}api/auth/reset_password/{{token}}"> Reset Password </a>
    </p>
    <p>
      If you did not send a request for our service, please connect with us.
    </p>
    <p>Thanks,</p>
    <p>The Our Team</p>
  </body>
</html>
